@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Medium.eot');
    src: url('../fonts/Metropolis-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-Medium.woff2') format('woff2'),
    url('../fonts/Metropolis-Medium.woff') format('woff'),
    url('../fonts/Metropolis-Medium.ttf') format('truetype'),
    url('../fonts/Metropolis-Medium.svg#Metropolis-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.eot');
    src: url('../fonts/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeue-Regular.woff2') format('woff2'),
    url('../fonts/BebasNeue-Regular.woff') format('woff'),
    url('../fonts/BebasNeue-Regular.ttf') format('truetype'),
    url('../fonts/BebasNeue-Regular.svg#BebasNeue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Light.eot');
    src: url('../fonts/Metropolis-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-Light.woff2') format('woff2'),
    url('../fonts/Metropolis-Light.woff') format('woff'),
    url('../fonts/Metropolis-Light.ttf') format('truetype'),
    url('../fonts/Metropolis-Light.svg#Metropolis-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.d-flex{
    display: flex;
    justify-content: space-between;
}
.header{
    background-color: rgba(0,0,0,0.65);
    padding: 25px 0;
}
.header_1_div{
    padding-bottom: 21px;
    border-bottom: 2px solid #464646;
}
.searcher{
    height: 41px;
    line-height: 41px;
    text-transform: uppercase;
    color: #979797;
    font: 15px Metropolis;
    padding-left: 5px;
    background-color: #ebebeb;
}