@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Medium.eot');
    src: url('../fonts/Metropolis-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-Medium.woff2') format('woff2'),
    url('../fonts/Metropolis-Medium.woff') format('woff'),
    url('../fonts/Metropolis-Medium.ttf') format('truetype'),
    url('../fonts/Metropolis-Medium.svg#Metropolis-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.eot');
    src: url('../fonts/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeue-Regular.woff2') format('woff2'),
    url('../fonts/BebasNeue-Regular.woff') format('woff'),
    url('../fonts/BebasNeue-Regular.ttf') format('truetype'),
    url('../fonts/BebasNeue-Regular.svg#BebasNeue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis-light';
    src: url('../fonts/Metropolis-Light.eot');
    src: url('../fonts/Metropolis-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Metropolis-Light.woff2') format('woff2'),
    url('../fonts/Metropolis-Light.woff') format('woff'),
    url('../fonts/Metropolis-Light.ttf') format('truetype'),
    url('../fonts/Metropolis-Light.svg#Metropolis-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.d-flex{
    display: flex;
    justify-content: space-between;
}
.header{
    background-color: rgba(0,0,0,0.65);
    padding: 25px 0 0;
}
.header_1_div{
    padding-bottom: 20px;
    border-bottom: 2px solid #464646;
}
.searcher{
    height: 41px;
    line-height: 41px;
    text-transform: uppercase;
    color: #979797;
    font: 15px Metropolis;
    padding-left: 18px;
    background-color: #ebebeb;
    outline: none;
    border: none;
}
.search_button{
    height: 41px;
    width: 41px;
    line-height: 41px;
    font-size: 17px;
    text-align: center;
    background-color: #ebebeb;
    color: #fa090a;
    transition: 0.4s;
    border: none;
    border-radius: 1px;
}
.search_button:hover{
    background-color: #fa090a;
    color: #ebebeb;
    transform: scale(1,1.05);
}
.search_block{
    display: flex;
    margin-top: 8px;
}
.online_store_btn{
    font: 12px Metropolis;
    padding: 0 14px;
    height: 41px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #252525;
    text-decoration: none;
    margin-top: 8px;
    transition: 0.3s;
}
.online_store_btn:hover{
    background-color: white;
    color: #252525;
}
.log_in_btn{
    font: 12px Metropolis;
    padding: 0 44px;
    height: 41px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #464646;
    text-decoration: none;
    margin-top: 8px;
    transition: 0.3s;
}
.log_in_btn:hover{
    background-color: white;
    color: #464646;
}
.sign_up_now_btn{
    font: 12px Metropolis;
    padding: 0 16px;
    height: 41px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #fa090a;
    text-decoration: none;
    margin-top: 8px;
    transition: 0.3s;
}
.sign_up_now_btn:hover{
    background-color: white;
    color: #fa090a;
}
.online_store_btn i{
    margin-right: 13px;
}
.log_in_btn i{
    margin-right: 13px;
}
.sign_up_now_btn i{
    margin-right: 13px;
}
.header_2_div{
    margin-top: 21px;
    margin-bottom: 6px;
}
.div_a{
    color: white;
    font: 25px Bebas Neue;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 6px 15px;
    border-bottom: 5px solid transparent;
    transition: 0.3s;
    margin-bottom: 12px;
}
.header_2_div .div_a:hover{
    border-bottom: 5px solid #fa090a;
}
.header_2_icon_div{
    display: flex;
    margin-bottom: 20px;
}
.header_2_icon_div .icon{
    margin-left: 18px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    background-color: #fa090a;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    color: white;
    transition: 0.3s;
    border-bottom: none;
}
.facebook_icon{
    margin-left: 18px;
    height: 30px;
    width: 30px;
    font-size: 24px;
    line-height: 29px;
    background-color: #fa090a;
    padding: 5px 6px 0 11px;
    box-sizing: border-box;
    color: white;
    transition: 0.3s;
}
.insta_icon{
    transition: 0.3s;
}
.twitter_icon{
}
.youtube_icon{
}
.insta_icon:hover{
    background-color: #fa69a4;
}
.twitter_icon:hover{
    background-color: #03aaf4;
}
.youtube_icon:hover{
    background-color: white;
    color: #fa090a;
}
.facebook_icon:hover{
    background-color: #4267b2;
}
.our_trainers_caption_section {
    padding: 66px 0 20px;
}
.our_trainers_caption_section_h2{
    font: 50px Bebas Neue;
    text-transform: uppercase;
    color: black;
    padding-bottom: 33px;
    border-bottom: 3px solid #fa090a;
    text-align: center;
}
.main_section{
    background-color: #ffffff;
    height: 1000px;
}
.pre_footer_section{
    border-top: 1px solid #88888b;
    border-bottom: 1px solid #88888b;
    background-color: #010006;
    padding-top: 75px;
    padding-bottom: 49px;
}
.pre_footer_section_div{
    text-align: center;
}
.pre_footer_section_p{
    font: 19px Metropolis-Light;
    color: white;
    text-transform: uppercase;
    line-height: 27px;
    margin-bottom: 34px;
}
.pre_footer_section_form_div{
    display: flex;
}
.pre_footer_section_form_input{
    border: none;
    height: 42px;
    width: 390px;
    line-height: 42px;
    padding-left: 26px;
    background-color: white;
    color: #9c9c9c;
    margin-right: 34px;
    outline: none;
}
.pre_footer_section_form_btn{
    display: inline-block;
    background-color: #fa090a;
    height: 51px;
    padding: 0 70px;
    line-height: 51px;
    color: white;
    font: 20px Metropolis;
    text-transform: uppercase;
    border: none;
    transition: 0.3s;
}
.pre_footer_section_form_btn:hover{
    background-color: white;
    color: #fa090a;
}
.pre_footer_section_form{
    display: inline;
    margin: auto;
}
.footer_1_section{
    padding: 60px 0;
    background-color: #252525;
    border-bottom: 1px solid #88888b;

}
.footer_1_div{
    max-width: 1135px;
    margin: auto;

}
.footer_1_div_1_section{

}
.footer_1_div_1_section_img{
}
.footer_1_div_1_section_img img{
    width: 242px;
    margin-bottom: 40px;
}
.footer_2_div_1_section_icons_div{
}
.footer_soc_btn{
    height: 44px;
    width: 44px;
    background-color: #fa090a;
    line-height: 44px;
    color: #252525;
    text-align: center;
    font-size: 28px;
    transition: 0.3s;
}
.footer_1_facebook_btn{
    height: 44px;
    width: 44px;
    background-color: #fa090a;
    padding: 7px 0 0 17px;
    line-height: 43px;
    box-sizing: border-box;
    color: #252525;
    font-size: 36px;
    transition: 0.3s;
}
.footer_1_facebook_btn:hover{
    background-color: #4267b2;
    color: white;
}
.footer_1_insta_btn:hover{
    background-color: #fa69a4;
    color: white;
}
.footer_1_twitter_btn:hover{
    background-color: #03aaf4;
    color: white;
}
.footer_1_youtube_btn:hover{
    background-color: white;
    color: #fa090a;
}
.footer_1_div_other_sections_p{
    line-height: 34px;
    text-transform: uppercase;
    font: 14px Metropolis;
    text-decoration: none;

}
.footer_a{
    text-decoration: none;
    color: white;
    line-height: 34px;
    transition: 0.3s;
}
.footer_a:hover{
    color: #fa090a;
}
.footer_2_section{
    height: 63px;
    background-color: #010006;
}